<ul class="list-group">
  <li
    class="list-group-item"
    routerLink="countries/by-capital"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Por Capital
  </li>
  <li
    class="list-group-item"
    routerLink="countries/by-country"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Por País
  </li>
  <li
    class="list-group-item"
    routerLink="countries/by-language"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Por Idioma
  </li>
  <li
    class="list-group-item"
    routerLink="countries/by-region"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Por Región
  </li>
</ul>
